<app-robot-viewer [tiltAngle]="servoAngles[0]" [panAngle]="servoAngles[1]"></app-robot-viewer>
<div class="timeline-container">
  <div class="controls">
    <button class="round-button" (click)="togglePlayPause()">
      <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
    </button>
    <span class="timecode">{{ currentTime.toFixed(2) }}s</span>
    <button class="round-button" (click)="exportKeyframes()">
      <mat-icon>download</mat-icon>
    </button>
  </div>

  <div class="timeline">
    <div class="time-scale">
			<span *ngFor="let t of counter(maxTime)" class="time-marker" [style.left.%]="(t / maxTime) * 100">
				{{ t }}s
			</span>
    </div>

    <div class="time-indicator" [style.left.%]="(currentTime / maxTime) * 100"
         (mousedown)="onIndicatorDragStart($event)">
      <div class="indicator-handle"></div>
    </div>

    <div class="servo-track-container">
      <div *ngFor="let servo of servos" class="servo-track" (dblclick)="addKeyframe($event, servo)">
        <span class="servo-name">{{ servo.name }}</span>

        <!-- Dessin des courbes de Bézier -->
        <svg class="bezier-canvas" [attr.width]="'100%'" [attr.height]="'100%'">
          <path *ngFor="let pair of getKeyframePairs(servo.keyframes)"
                [attr.d]="generateBezierPath(pair[0], pair[1])"
                class="bezier-curve"/>
        </svg>


        <div *ngFor="let keyframe of servo.keyframes" class="keyframe-container">
          <div
            class="keyframe"
            [class.selected]="selectedKeyframe?.keyframe === keyframe"
            [style.left.%]="(keyframe.time / maxTime) * 100"
            [style.top.%]="((180 - keyframe.angle) / 180) * 100"
            (mousedown)="onKeyframeDrag($event, servo, keyframe)"
            (click)="selectKeyframe(servo, keyframe)">
          </div>

          <!-- Poignées de Bézier -->
          <div
            class="bezier-handle"
            title="Poignée de sortie"
            [style.left.%]="keyframe.controlOut?.x"
            [style.top.%]="keyframe.controlOut?.y"
            (mousedown)="onHandleDrag($event, keyframe, 'controlOut')">
          </div>
          <div
            class="bezier-handle"
            title="Poignée d'entrée"
            [style.left.%]="keyframe.controlIn?.x"
            [style.top.%]="keyframe.controlIn?.y"
            (mousedown)="onHandleDrag($event, keyframe, 'controlIn')">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
